
@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HelveticaNeue_1.ttc);
}

body{
    font-family: 'HelveticaNeue';
    margin: auto;
    background-color: #eceff4;
    text-align: center;
}

/* Index.html */
.container-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 500%;
    color: #81a1c1;
    margin-bottom: 0px;
}

.imagen-inicial{
    height: 600px;
    width: 800px;
}

.rueda-imagenes{
    width: 25%;
    margin: auto;
    overflow: hidden;
}

.rueda-imagenes ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: cambio 20s infinite;
}

@keyframes cambio {
    0% {margin-left: 0%;}
    40% {margin-left: 0%;}

    50% {margin-left: -100%;}
    90% {margin-left: -100%;}
}

.rueda-imagenes li{
    width: 100%;
    list-style: none;
}

.rueda-imagenes img {
    width: 100%;
}

.titulo-2{
    font-size: 300%;
    color: #d08770;
    margin-bottom: 0px;
}

.palito{
    height: 5px;
    width: 200px;
    background-color: #d08770;
    margin-bottom: 50px;
}

.texto-index{
    font-size: 200%;
    width: 70%;
    color: #3b4252;
}

.boton-index{
    height: 200px;
    width: 400px;
}

.Pinguinoss{
    opacity: 0.2;
    pointer-events: none; 
    cursor: default;
}



/* Chile.html */

.div-mapa{
    width: 1300px;
    position: absolute;
    left:-520px;
    z-index: 1;
}

.div-mapa path {
    fill: #D8DEE9;
    stroke: #88c0d0;
    stroke-width: 2px;
}

.div-mapa :hover {
    fill: #4c566a;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
    z-index: 3;

}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'HelveticaNeue';
}

.menu li a:hover{
    color: #e5e9f0;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: #5e81ac;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'HelveticaNeue';
    text-decoration: none;

}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;


}

/* intro.html */

.container-flex{
    display: flex;
    margin: auto;
}

header img{
    width: 1000px;
}

.ifchile{
    width: 700px;
    height: 850px;
}

.div-pinguinos{
    margin-right: 300px;
    width: 9000px;
    border-radius: 15px 15px 15px 15px;
    position: relative;
    right: -129px;
    z-index: 2;
}

.div-pinguinos img {
    /* transform: scale(1.15); */
    border-radius: 15px 15px 15px 15px;
}

.div-pinguinos a:hover img {
    transform: scale(1.15);
    border-radius: 15px 15px 15px 15px;
}

.Titulito{
    color: #5E81AC;
    font-size: 300%;
    margin-bottom: 50px;
    font-family: verdana;
}



.circulo{
    background-color: #3f51b4;
    position: relative;
    right: -14px;
    top: 1395px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito{
    background-color: #9b23b3;
    position: relative;
    right: -10px;
    top: 1370px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_e{
    background-color: #ccdb3b;
    position: relative;
    right: 0px;
    top: 1340px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h{
    /*ARICA*/
    background-color: #f34434;
    position: relative;
    right: -9px;
    top: 35px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h1{
        /*TARAPACA*/
    background-color: #f34434;
    position: relative;
    right: 5px;
    top: 60px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h2{
        /*ANTOFA*/
    background-color: #f34434;
    position: relative;
    right: 35px;
    top: 180px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h3{
        /*ATACAMA*/
    background-color: #f34434;
    position: relative;
    right: 47px;
    top: 269px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h4{
        /*COQUIMBO*/
    background-color: #f34434;
    position: relative;
    right: 100px;
    top: 427px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h5{
        /*VALPO*/
    background-color: #f34434;
    position: relative;
    right: 110px;
    top: 500px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h6{
        /*METROPOLITANA*/
    background-color: #f34434;
    position: relative;
    right: 100px;
    top: 535px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h7{
        /*OHHIGINS*/
    background-color: #f34434;
    position: relative;
    right: 158px;
    top: 570px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h8{
        /*MAULE*/
    background-color: #f34434;
    position: relative;
    right: 190px;
    top: 615px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h9{
        /*ÑUBLE+ BIOBIO*/
    background-color: #f34434;
    position: relative;
    right: 219px;
    top: 665px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h10{
     /*ÑUBLE+ BIOBIO 2*/
    background-color: #f34434;
    position: relative;
    right: 255px;
    top: 685px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h11{
     /*ARAUCANIA*/
    background-color: #f34434;
    position: relative;
    right: 255px;
    top: 743px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h12{
     /*RIOS*/
    background-color: #f34434;
    position: relative;
    right: 285px;
    top: 785px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h13{
     /*LAGOS*/
    background-color: #f34434;
    position: relative;
    right: 280px;
    top: 880px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_h14{
     /*AYSEN*/
    background-color: #f34434;
    position: relative;
    right: 305px;
    top: 995px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mac{
    background-color: #4cab53;
    position: relative;
    right: 200px;
    top: 1370px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag{
    /*MAGALLANES EN MAGALLANES*/
    background-color: #fb9a04;
    position: relative;
    right: 250px;
    top: 1382px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag1{
    /* ARICA*/
    background-color: #fb9a04;
    position: relative;
    right: 265px;
    top: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag2{
    /* ANTOFA*/
    background-color: #fb9a04;
    position: relative;
    right: 280px;
    top: 170px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag3{
    /* ANTOFA*/
    background-color: #fb9a04;
    position: relative;
    right: 305px;
    top: 256px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag4{
    /* ATACAMA 1*/
    background-color: #fb9a04;
    position: relative;
    right: 345px;
    top: 370px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag5{
    /* ATACAMA 2*/
    background-color: #fb9a04;
    position: relative;
    right: 340px;
    top: 280px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag6{
    /* COQU 1*/
    background-color: #fb9a04;
    position: relative;
    right: 380px;
    top: 417px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag7{
    /* VALPO 1*/
    background-color: #fb9a04;
    position: relative;
    right: 395px;
    top: 490px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag8{
    /* VALPO 2*/
    background-color: #fb9a04;
    position: relative;
    right: 415px;
    top: 518px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag9{
        /* OHHIGNIS*/
    background-color: #fb9a04;
    position: relative;
    right: 439px;
    top: 555px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag10{
        /* MAULE*/
    background-color: #fb9a04;
    position: relative;
    right: 475px;
    top: 605px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag11{
        /* ÑUBLE (bIOBIO PQ NO ESTA ÑUBLE*/
    background-color: #fb9a04;
    position: relative;
    right: 510px;
    top: 650px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag12{
        /* BIOBIO*/
    background-color: #fb9a04;
    position: relative;
    right: 540px;
    top: 675px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_mag13{
        /* ARAUCANIA*/
    background-color: #fb9a04;
    position: relative;
    right: 550px;
    top: 727px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}


.circulito_mag14{
    /* ARAUCANIA*/
background-color: #fb9a04;
position: relative;
right: 560px;
top: 750px;
width: 15px;
height: 15px;
border-radius: 50%;
z-index: 3;
}


.circulito_mag15{
    /* LOS RIOS*/
background-color: #fb9a04;
position: relative;
right: 585px;
top: 775px;
width: 15px;
height: 15px;
border-radius: 50%;
z-index: 3;
}


.circulito_mag16{
    /* LOS LAGOS*/
background-color: #fb9a04;
position: relative;
right: 620px;
top: 860px;
width: 15px;
height: 15px;
border-radius: 50%;
z-index: 3;
}


.circulito_mag17{
    /* AYSEN*/
background-color: #fb9a04;
position: relative;
right: 620px;
top: 1005px;
width: 15px;
height: 15px;
border-radius: 50%;
z-index: 3;
}





.circulito_pa{
    background-color: #089386;
    position: relative;
    right: 430px;
    top: 1330px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_pe{
    background-color: #04bbd3;
    position: relative;
    right: -50px;
    top: 750px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_pe1{
    background-color: #04bbd3;
    position: relative;
    right: -40px;
    top: 740px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_pe2{
    background-color: #04bbd3;
    position: relative;
    right: -30px;
    top: 730px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_pe3{
    background-color: #04bbd3;
    position: relative;
    right: -20px;
    top: 720px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_pe4{
    background-color: #04bbd3;
    position: relative;
    right: -10px;
    top: 730px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}


.circulito_r1{
    background-color: #fbeb3c;
    position: relative;
    right: 0px;
    top: 740px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_r2{
    background-color: #fbeb3c;
    position: relative;
    right: -103px;
    top: 780px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}

.circulito_r3{
    background-color: #fbeb3c;
    position: relative;
    right: -149px;
    top: 805px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}


.circulito_r4{
    background-color: #fbeb3c;
    position: relative;
    right: -150px;
    top: 800px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 3;
}



.container-index a:hover img {
    transform: scale(1.15);
}

.zoom{
    border-radius: 15px 15px 15px 15px;
}

.holiwis{
    background-color: #5e81ac; /* Green */
    border: none;
    color: white;
}