<!DOCTYPE html>
<html>

<head>
  <!--NOS CONVIENE PEGAR EL HEADER DEL LA PÁGINA EN GENERAL-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Pingüino Barbijo</title>
  <link href="../../assets/styles/barbijo.css" rel="stylesheet" type="text/css"/>
  
</head>

<body>
  <header>
    <h1 class="nb">Pingüino Barbijo</h1>
    <h4 class="ncb">Pygoscelis antarcticus</h4>
  </header>

  <div class="infob1">
    <p>Esperanza de vida ➡ 15 a 20 años</p>
    <p>Tamaño ➡ 75 cm aproximadamente</p>
    <p>Peso promedio ➞ Entre 3,1 a 5 Kg</p>
    <p>Población Actual ➡ 8.000.000 especímenes</p>
    <p>Estado de vulnerabilidad</p>
  </div>
  <div class="imgb1">
    <img src="../../assets/img/barbijo.jfif" width="400" alt=”Pinguino_Barbijo”/>
  </div>
  <!--Div para poner abajo de la imagen-->
  
  
  
  
  <!--El identifica a tu pinguino-->
  <div class="infob2">
    <h4>Identifica a tu pingüino</h4>
    <!--p>Los pingüinos Barbijo se pueden identificar por la <b>pequeña línea que tienen bajo su barbilla</b>, está característica los hace muy distinguibles! </p-->
    <p>Característica distinguible <b>pequeña línea que tienen bajo su barbilla</b> </p>
  </div>

  <div class="imbg2">
    <img src="../../assets/img/barbijo_sabias.webp" alt="Barbijo"/>
    <!--img  class="imgb3" src="../../assets/img/binoculares.png" width="200" alt="Binoculares_curiosos"/-->
  </div>  
  
    <script src="script.js"></script>


</body>

</html>  