@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HelveticaNeue_1.ttc);
}

body{
    font-family: 'HelveticaNeue';
    margin: auto;
    background-color: #eceff4;
    text-align: center;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
    z-index: 3;

}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'HelveticaNeue';
}

.menu li a:hover{
    color: #e5e9f0;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: #5e81ac;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'HelveticaNeue';
    text-decoration: none;

}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;

}