html, body {
  height: 100%;
  width: 100%;
}
body{
  background: #eceff4;
  font-display: Arial, Helvetica, sans-serif;
  float: right;
  margin: 50px -30px;
}
.imagen_1 {
  float: right;
  border-radius: 15px 15px 15px 15px;
}

.infob1{
  float:right;
  background-color: #D8DEE9;
  border-radius: 15px 15px 15px 15px;
}

.infob2{
  float: left;
}