html, body {
  height: 100%;
  width: 100%;
}
body{
  background: #eceff4;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin: 10px 10px;
  width: 95%;
  
}


#imgb1 img{
  border-radius: 15px;
  position: relative;
  top: -20px;
  width: 570px;
  margin: 20px;
}

.nb{font-size: 450%;
  color: #81a1c1;
  margin-bottom: 0px;}

.ncb{
  color: #d08770;
  font-size: 150%;
}

#infob1{
  float:left;
  background-color: #D8DEE9;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  border: 15px 15px;
  font-size: 150%;
  width: 500px;
  color: #3b4252;
}
  
#infob2{
  background-color: #D8DEE9;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  border: 15px 15px;
  font-size: 150%;
  width: 500px;
  color: #3b4252;
  
}

#imgb2 img {
  width: 300px;
  border-radius: 50%;
}


